@using Repository.Entites
@model IEnumerable<Category>
@{
    ViewBag.Title = "All Category";
}
<h1>All Ctaegory</h1>

@if(Model.Any())
{
    <a class="btn btn mb-3" style="width:auto" asp-action="Create"
    asp-controller="Category">Add new Category</a>

    foreach(var category in Model)
    {
        <div class="card-body">
            <h5 class="card-title">
                @category.CategoryName
                @category.Tickets
            </h5>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-action="EditCategory" asp-controller="Category" asp-route-id="@category.CId">
                Edit
            </a>
            <a class="btn btn-danger" asp-action ="DeleteCategory" asp-controller="Category" asp-route-id="@category.CId">
                Delete
            </a>
            <a class="btn btn-group-sm" asp-action="CateoryDetails" asp-controller="Category" asp-route-id="@category.CId">
                Details
            </a>
            <a class="btn btn-warning" asp-action="Index" asp-controller="Ticket">
                Tickets
            </a>
        </div>

        foreach (var ticket in category.Tickets)
        {
            <div>Ticket Detail: <p>@ticket.TicketId</p></div>
            <div>Ticket Detail: <p>@ticket.TicketDetails</p></div>
            <div>Created By: <p>@ticket.CreatedBy</p></div>
            <div>Created DateTime: <p>@ticket.CreatedDateTime</p></div>
            <div>Modified By: <p>@ticket.ModifiedBy</p></div>
            <div>Modififed Datetime: <p>@ticket.ModifiedDateTime</p></div>
            <div>Assigned To: <p>@ticket.AssignedTo</p></div>
            <div>Image Name:<p>@ticket.ImageName</p></div>
            <div>Status:<p>@ticket.Status</p></div>

        }
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Category Created Yet
        </div>
        <h5 class="card-title">
            Use the button to create a Category
        </h5>
        <a class="btn btn-outline-primary" style="width:auto"
        asp-asp-controller="Category" asp-action="Create">
        Create Category  
    </a>
    </div>
}