@model Common.ViewModels.UserRole.UserRoleViewModel

@{
    var userId = ViewBag.userId;
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Manage User Roles</h2>
        </div>
    </div>
    <div class="card-body">
        @foreach (var role in Model.Roles)
        {
            <div class="form-check m-1">
                <input type="hidden" asp-for="@Model.RoleId"/>
                <input type="hidden" asp-for="@Model.RoleName" />
                <input asp-for="@Model.IsSelected" class="form-check-input" />
                <label class="form-check-label" asp-for="@Model.IsSelected">
                    @Model.RoleName
                </label>
            </div>
        }
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</form>